In [ ]:
pip install "pandasai>=3.0.0b2"

Collecting pandasai>=3.0.0b2
  Downloading pandasai-3.0.0b16-py3-none-any.whl.metadata (8.2 kB)
Collecting astor<0.9.0,>=0.8.1 (from pandasai>=3.0.0b2)
  Downloading astor-0.8.1-py2.py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: duckdb<2.0.0,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from pandasai>=3.0.0b2) (1.2.1)
Requirement already satisfied: jinja2<4.0.0,>=3.1.3 in /usr/local/lib/python3.11/dist-packages (from pandasai>=3.0.0b2) (3.1.6)
Collecting matplotlib<3.8,>=3.7.1 (from pandasai>=3.0.0b2)
  Downloading matplotlib-3.7.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.7 kB)
Collecting numpy<2.0,>=1.17 (from pandasai>=3.0.0b2)
  Downloading numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 1.7 MB/s eta 0:00:00
Requirement already satisfied: pandas<3.0.0,>=2.0.3 in /usr/local/lib/python3.11/dist-packages (from pandasai>=3.0.0b2) (2.2.2)
Collecting pillow<11.0.0,>=10.1.0 (from pandasai>=3.0.0b2)
  Downloading pillow-10.4.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (9.2 kB)
Collecting pyarrow<15.0.0,>=14.0.1 (from pandasai>=3.0.0b2)
  Downloading pyarrow-14.0.2-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: pydantic<3.0.0,>=2.6.4 in /usr/local/lib/python3.11/dist-packages (from pandasai>=3.0.0b2) (2.11.2)
Collecting python-dotenv<2.0.0,>=1.0.0 (from pandasai>=3.0.0b2)
  Downloading python_dotenv-1.1.0-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: pyyaml<7.0.0,>=6.0.2 in /usr/local/lib/python3.11/dist-packages (from pandasai>=3.0.0b2) (6.0.2)
Requirement already satisfied: requests<3.0.0,>=2.31.0 in /usr/local/lib/python3.11/dist-packages (from pandasai>=3.0.0b2) (2.32.3)
Collecting scipy==1.10.1 (from pandasai>=3.0.0b2)
  Downloading scipy-1.10.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.9/58.9 kB 2.2 MB/s eta 0:00:00
Collecting seaborn<0.13.0,>=0.12.2 (from pandasai>=3.0.0b2)
  Downloading seaborn-0.12.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: sqlglot<26.0.0,>=25.0.3 in /usr/local/lib/python3.11/dist-packages (from pandasai>=3.0.0b2) (25.20.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2<4.0.0,>=3.1.3->pandasai>=3.0.0b2) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib<3.8,>=3.7.1->pandasai>=3.0.0b2) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib<3.8,>=3.7.1->pandasai>=3.0.0b2) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib<3.8,>=3.7.1->pandasai>=3.0.0b2) (4.57.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib<3.8,>=3.7.1->pandasai>=3.0.0b2) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib<3.8,>=3.7.1->pandasai>=3.0.0b2) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib<3.8,>=3.7.1->pandasai>=3.0.0b2) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib<3.8,>=3.7.1->pandasai>=3.0.0b2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0.0,>=2.0.3->pandasai>=3.0.0b2) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0.0,>=2.0.3->pandasai>=3.0.0b2) (2025.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3.0.0,>=2.6.4->pandasai>=3.0.0b2) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.1 in /usr/local/lib/python3.11/dist-packages (from pydantic<3.0.0,>=2.6.4->pandasai>=3.0.0b2) (2.33.1)
Requirement already satisfied: typing-extensions>=4.12.2 in /usr/local/lib/python3.11/dist-packages (from pydantic<3.0.0,>=2.6.4->pandasai>=3.0.0b2) (4.13.1)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3.0.0,>=2.6.4->pandasai>=3.0.0b2) (0.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.31.0->pandasai>=3.0.0b2) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.31.0->pandasai>=3.0.0b2) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.31.0->pandasai>=3.0.0b2) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0.0,>=2.31.0->pandasai>=3.0.0b2) (2025.1.31)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib<3.8,>=3.7.1->pandasai>=3.0.0b2) (1.17.0)
Downloading pandasai-3.0.0b16-py3-none-any.whl (81 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.0/81.0 kB 4.9 MB/s eta 0:00:00
Downloading scipy-1.10.1-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 19.0 MB/s eta 0:00:00
Downloading astor-0.8.1-py2.py3-none-any.whl (27 kB)
Downloading matplotlib-3.7.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 61.5 MB/s eta 0:00:00
Downloading numpy-1.26.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.3/18.3 MB 51.0 MB/s eta 0:00:00
Downloading pillow-10.4.0-cp311-cp311-manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 53.7 MB/s eta 0:00:00
Downloading pyarrow-14.0.2-cp311-cp311-manylinux_2_28_x86_64.whl (38.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.0/38.0 MB 14.3 MB/s eta 0:00:00
Downloading python_dotenv-1.1.0-py3-none-any.whl (20 kB)
Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 20.4 MB/s eta 0:00:00
Installing collected packages: python-dotenv, pillow, numpy, astor, scipy, pyarrow, matplotlib, seaborn, pandasai
  Attempting uninstall: pillow
    Found existing installation: pillow 11.1.0
    Uninstalling pillow-11.1.0:
      Successfully uninstalled pillow-11.1.0
  Attempting uninstall: numpy
    Found existing installation: numpy 2.0.2
    Uninstalling numpy-2.0.2:
      Successfully uninstalled numpy-2.0.2
  Attempting uninstall: scipy
    Found existing installation: scipy 1.14.1
    Uninstalling scipy-1.14.1:
      Successfully uninstalled scipy-1.14.1
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 18.1.0
    Uninstalling pyarrow-18.1.0:
      Successfully uninstalled pyarrow-18.1.0
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.10.0
    Uninstalling matplotlib-3.10.0:
      Successfully uninstalled matplotlib-3.10.0
  Attempting uninstall: seaborn
    Found existing installation: seaborn 0.13.2
    Uninstalling seaborn-0.13.2:
      Successfully uninstalled seaborn-0.13.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
scikit-image 0.25.2 requires scipy>=1.11.4, but you have scipy 1.10.1 which is incompatible.
jaxlib 0.5.1 requires scipy>=1.11.1, but you have scipy 1.10.1 which is incompatible.
plotnine 0.14.5 requires matplotlib>=3.8.0, but you have matplotlib 3.7.5 which is incompatible.
bigframes 1.42.0 requires pyarrow>=15.0.2, but you have pyarrow 14.0.2 which is incompatible.
cvxpy 1.6.4 requires scipy>=1.11.0, but you have scipy 1.10.1 which is incompatible.
jax 0.5.2 requires scipy>=1.11.1, but you have scipy 1.10.1 which is incompatible.
Successfully installed astor-0.8.1 matplotlib-3.7.5 numpy-1.26.4 pandasai-3.0.0b16 pillow-10.4.0 pyarrow-14.0.2 python-dotenv-1.1.0 scipy-1.10.1 seaborn-0.12.2

In [ ]:
import pandasai as pai

# Get your API key from https://app.pandabi.ai
pai.api_key.set("")

In [ ]:
import pandasai as pai

# Load your data
df = pai.read_csv("/content/Salaries.csv")

In [ ]:
df.sample(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
95957,95958,Robert A Celaya,Special Nurse,81511.69,698.74,3110.53,853.22,85320.96,86174.18,2013,NaN,San Francisco,NaN
108803,108804,Frederick B Reynolds,Painter,2902.00,0.00,0.00,29.02,2902.00,2931.02,2013,NaN,San Francisco,NaN
119531,119532,Aaron Brinkerhoff,Biologist III,108374.05,0.00,574.73,37417.76,108948.78,146366.54,2014,NaN,San Francisco,NaN
140922,140923,Lenora Hamilton,PS Aide to Prof,24704.83,0.00,0.00,1443.67,24704.83,26148.50,2014,NaN,San Francisco,NaN
121413,121414,John W Macy,Sr. Environmental Spec,99251.03,0.00,0.00,35553.99,99251.03,134805.02,2014,NaN,San Francisco,NaN
98011,98012,Sabrina M Suzuki,Public Information Officer,55369.10,0.00,0.00,22833.74,55369.10,78202.84,2013,NaN,San Francisco,NaN
41392,41393,Filipinas Guasque,Registered Nurse,118652.00,6148.80,2137.19,41842.94,126937.99,168780.93,2012,NaN,San Francisco,NaN
89266,89267,Adrian D Law,Real Property Appraiser,78498.92,0.00,1200.00,30336.14,79698.92,110035.06,2013,NaN,San Francisco,NaN
1481,1482,KEVIN CHOCKER,FIRE FIGHTER PARAMEDIC,122404.98,17608.45,21665.46,NaN,161678.89,161678.89,2011,NaN,San Francisco,NaN
26419,26420,DANIEL HONG,SOCIAL WORKER,41138.68,0.00,980.00,NaN,42118.68,42118.68,2011,NaN,San Francisco,NaN

In [ ]:
response = df.chat("What is the average BasePay by JobTitle?")
print(response)

/usr/local/lib/python3.11/dist-packages/jinja2/runtime.py:303: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  return __obj(*args, **kwargs)

                            JobTitle     AvgBasePay
0       Environmental Service Worker   30220.716273
1     StdntDsgnTrain3, Arch/Eng/Plng   16226.008775
2     Community Police Services Aide   57792.918459
3                 Nurse Practitioner   91726.214769
4             Psychiatric Technician   57351.425769
...                              ...            ...
2154                         Pianist   13782.490000
2155        Administrative Analyst I   28510.365000
2156   Public Service Aide-Technical    2552.550000
2157  Civil Case Settlmnt Specialist  133112.500000
2158                    Duty Officer   83483.756667

[2159 rows x 2 columns]

In [ ]:
response = df.chat("What is the average benefits?")
print(response)

/usr/local/lib/python3.11/dist-packages/jinja2/runtime.py:303: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  return __obj(*args, **kwargs)

25007.893150830005

In [ ]:
### https://python.langchain.com/docs/integrations/document_loaders/web_base/

In [ ]:
%pip install -qU langchain_community beautifulsoup4

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 63.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 45.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 423.3/423.3 kB 25.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.9/50.9 kB 3.5 MB/s eta 0:00:00

In [ ]:
from langchain_community.document_loaders import WebBaseLoader

loader = WebBaseLoader("https://www.example.com/")

In [ ]:
doc_s = loader.load()

doc_s[0]

Document(metadata={'source': 'https://www.example.com/', 'title': 'Example Domain', 'language': 'No language found.'}, page_content='\n\n\nExample Domain\n\n\n\n\n\n\n\nExample Domain\nThis domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission.\nMore information...\n\n\n\n')

In [ ]:
loader_multiple_pages = WebBaseLoader(
    ["https://www.example.com/", "https://google.com"]
)

In [ ]:
docs = loader.load()

docs[0]

Document(metadata={'source': 'https://www.example.com/', 'title': 'Example Domain', 'language': 'No language found.'}, page_content='\n\n\nExample Domain\n\n\n\n\n\n\n\nExample Domain\nThis domain is for use in illustrative examples in documents. You may use this\n    domain in literature without prior coordination or asking for permission.\nMore information...\n\n\n\n')